
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #11998e, #38ef7d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 14px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    margin-bottom: 5px;
    color: #0f9b8e;
    font-weight: 600;
}

.subtitle {
    font-size: 13px;
    color: #666;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    transition: 0.3s;
}

input:focus {
    outline: none;
    border-color: #0f9b8e;
    box-shadow: 0 0 6px rgba(15,155,142,0.4);
}

button {
    background: white;
    color: #0f9b8e;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    transition: 0.3s;
}

button:hover {
    background: #0f9b8e;
    color: white;
}

.footer {
    margin-top: 18px;
    font-size: 13px;
}

.footer a {
    text-decoration: none;
    color: #0f9b8e;
    font-weight: 500;
}

.footer a:hover {
    text-decoration: underline;
}
/* DASHBOARD PAGE STYLES */

.dashboard-body {
    background: linear-gradient(135deg, #11998e, #38ef7d);
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 40px;
}

.dashboard-container {
    max-width: 900px;
    margin: auto;
}

.dashboard-container h1 {
    color: white;
    margin-bottom: 30px;
}

.summary-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.amount {
    font-size: 28px;
    font-weight: bold;
    color: #0f9b8e;
}

.chart-placeholder {
    height: 150px;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    border-radius: 8px;
}

.nav-buttons {
    margin-top: 25px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.nav-buttons button {
    padding: 10px 18px;
}
.summary-row {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.summary-row .summary-card {
    flex: 1;
}

.chart-placeholder {
    height: 120px;
}

@media (max-width: 768px) {
    .summary-row {
        flex-direction: column;
    }
}
/*ABOUT BUTTON*/

.about-btn {
    position: fixed;
    top: 20px;
    right: 30px;
    background: white;
    color: #0f9b8e;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.about-btn:hover {
    background: #0f9b8e;
    color: white;
}
